.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

/*
	NAV STYLES
*/

nav {
	width: 100%;
}

nav ul {
	list-style-type: none;
	float: right;
	margin-top: -2px;
	margin-right: 10px;
}

nav ul li {
	display: inline-block;
	padding: 0 0 0 5px;	
}

nav ul li a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: rgb(117,117,117);
}

nav ul li img {
	vertical-align: middle
}

.share {
	color: #000;
	display: block;
	background-color: rgb(241,241,241);
	width: 60px;
	text-align: center;
}

.avatar {
	border: 0px;
	border-radius: 100%;
}

/* 
	SEARCH AREA STYLES
*/

section {
	clear: both;
	text-align: center;
	padding-top: 150px;
	height: 100%;
}

input {
	width: 500px;
	height: 20px;
}

button {
	background-color: rgb(241,241,241);
	border: 0;
	
}


/*
	FOOTER STYLES
*/

footer {
	width: 100%;
	clear: both;
	background-color: rgb(241,241,241);
	height: 35px;
	bottom: 0;
	position: fixed;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	display: inline-block;
}

footer ul li a {
	text-decoration: none;
	color: #1c1c1c;
	padding: 7px;
}

.footerLeft {
	float: left;
	line-height: 5px;
}

.footerRight {
	float: right;
	line-height: 5px;
	margin-right: 55px;
}
